@{
    ViewData["Title"] = "About";
}

<div class="bg-faded-sub">
    <div>
        <h1 class="display-4">About Kieru</h1>
    </div>
</div>

<div class="container body-content">
    <p>Share secret messages that disappear once viewed.</p>

    <p>Grab the <a href="https://github.com/ppdac/Kieru">source code here.</a></p>
</div>
