@using Microsoft.AspNetCore.Identity
@model Kieru.Models.Secret

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="margin-bottom"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
                <h1 class="display-4">Here's Your Secret Message</h1>
            <div class="row">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <h6 class="ml-3 card-subtitle mb-2 text-muted">This is the only time you will be able to view it.</h6>
                }

                <div class="ml-auto mr-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <br />
                    }
                    <a asp-action="Index">Lookup another secret</a>
                </div>
            </div>
        </div>

        <div class="card-block">
            <p class="card-text"><pre id="phrase">@Html.DisplayFor(model => model.Phrase)</pre></p>
        </div>
        <div class="card-footer text-muted">
            <div class="row margin-bottom">
                <div class="ml-3">    
                    <button onclick="copiedSecretToClipboard()" id="btnSecret" data-clipboard-target="#phrase" class="btn btn-primary h-100">Copy Secret 
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                    
                </div>
                
            </div>

            <h3>Was viewed: @Model.ViewedBy</h3>
            <h3>Signed in: @SignInManager.IsSignedIn(User)</h3>

            @if (Model.ViewedBy == ViewedBy.Owner || (User.Identity.IsAuthenticated && UserManager.GetUserId(User).Equals(Model.OwnerId.ToString())))
            {
                <div class="row">
                    <div class="col-lg-12 margin-bottom">
                        <div class="input-group">
                            <input type="text" id="SecretUrl" class="form-control col-12" value="https://@Context.Request.Host/Secrets/Details/@Model.Id" />
                            <span class="input-group-btn">
                                <button onclick="copiedLinkToClipboard()" id="btnShare" data-clipboard-target="#SecretUrl" class="btn btn-secondary h-100">
                                    Share Secret
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="ml-3">
                        <span id="copiedSecret" class="badge badge-info h-100 font-size-100 line-height-inherit display-none">Copied secret to clipboard.</span>
                    </div>
                    <div class="m-0">
                        <span id="copiedLink" class="badge badge-info h-100 font-size-100 line-height-inherit display-none">Copied link to clipboard.</span>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<script>

    var btnSecret = document.getElementById('btnSecret');
    var clipboard = new Clipboard(btnSecret);
    clipboard.on('success', function (e) {
        console.log(e);
    });

    clipboard.on('error', function (e) {
        console.log(e);
    });

    var btnShare = document.getElementById('btnShare');
    var clipboard = new Clipboard(btnShare);
    clipboard.on('success', function (e) {
        console.log(e);
    });

    clipboard.on('error', function (e) {
        console.log(e);
    });

</script>

