@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="bg-faded-sub">
    <div>
        <h2 class="display-4">Create a new account</h2>
    </div>
</div>

<div class="container body-content">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group margin-bottom">
                <label asp-for="Email" class="input-group-addon col-md-2 control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom">
                <label asp-for="Password" class="input-group-addon col-md-2 control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group margin-bottom">
                <label asp-for="ConfirmPassword" class="input-group-addon col-md-2 control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </form>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
